@import "tailwindcss";

html, body, #root {
  min-height: 100%;
  margin: 0;
  padding: 0;
  background-color: #0f172a; /* dark slate */
  color: #f8fafc; /* light text */
}

* {
  box-sizing: border-box;
}
